.vs/DatingApp/DesignTimeBuild/.dtbcache.v2
.vs/DatingApp/FileContentIndex/6c7b47c6-3535-456a-bbf3-35f91506d599.vsidx
.vs/DatingApp/FileContentIndex/8b8b3a61-fdb6-4695-a827-f5c965957c17.vsidx
.vs/DatingApp/FileContentIndex/9d8384b1-4fef-4bcb-9b24-333069bb61e5.vsidx
.vs/DatingApp/FileContentIndex/89703b11-3aa6-440a-9764-736e99dd1561.vsidx
.vs/DatingApp/FileContentIndex/b57f105f-1a58-4fe9-b3ad-7cf180659fb1.vsidx
.vs/DatingApp/v17/.futdcache.v2
.vs/DatingApp/v17/.suo
.vs/ProjectEvaluation/datingapp.metadata.v7.bin
.vs/ProjectEvaluation/datingapp.projects.v7.bin
.vs/DatingApp/config/applicationhost.config
